<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cwc.api.mapper.CityMapper">
    <select id="findByRegion" parameterType="cn.cwc.api.entity.Region" resultType="cn.cwc.api.entity.City">
        SELECT * FROM city
        INNER JOIN region ON city.id=region.city_id
        WHERE region.id=#{id}
    </select>
    <insert id="insert">
        INSERT INTO city(`name`) VALUES
        <foreach collection="cities" item="city" separator=",">
            (#{city.name})
        </foreach>
    </insert>
</mapper>